<section class="h-screen bg-[url(/images/hero-main.jpg)] bg-cover bg-bottom bg-fixed relative">
    <div class="text-white flex items-center h-full max-w-7xl w-full">
        <div class="z-10 lg:w-4/12">
            <h1 class="text-5xl mb-5">Simulador de Satélite Educativo</h1>
            <p class="text-1xl font-normal mb-5">Descubre cómo un grupo de estudiantes de la UPC ha diseñado un simulador de satélite basado en Arduino.</p>
            <a href="/proyecto" class="
                text-white font-semibold px-8 py-2 bg-[#ffffff33] rounded-[55px] border border-[#ffffff]
                hover:bg-[#ffffffdd] hover:text-black hover:cursor-pointer hover:shadow-[#ffffff] hover:shadow-xs transition
            ">
                Ver proyecto
        </a>
        </div>
    </div>
</section>