<header>
  <nav class="font-poppins backdrop-blur-md fixed w-full top-0 border-b border-white/20 z-50">
    <div class="max-w-10/12 mx-auto bg-white/20 border-white/20 rounded-full px-4 my-3 backdrop-blur-md">
      <div class="flex items-center justify-between h-16">
        
        <div class="hidden md:flex items-center space-x-4 ms-4 gap-5">
          <a routerLink="/inicio" routerLinkActive="font-semibold" class="text-white hover:text-gray-300 transition-all py-2 text-base">
            Inicio
          </a>
          <a routerLink="/proyecto" routerLinkActive="font-semibold" class="text-white hover:text-gray-300 transition-all py-2  text-base">
            Proyecto
          </a>
          <a routerLink="/desarrolladores-web" routerLinkActive="font-semibold" class="text-white hover:text-gray-300 transition-all py-2  text-base">
            Desarrolladores Web
          </a>
          <a routerLink="/contacto" routerLinkActive="font-semibold" class="text-white hover:text-gray-300 transition-all py-2  text-base">
            Contacto
          </a>
        </div>

        <div class="flex items-center space-x-4">
          @if(!this.authService.isLoggedIn()){
            <a routerLink="/registro" routerLinkActive="font-semibold" class="text-white hover:text-gray-300 transition-all "> 
              Regístrate 
            </a>
            <a routerLink="/login" class="bg-white hover:bg-gray-200 transition-all text-black font-medium px-8 py-2 rounded-full"> 
              Inicia Sesión 
            </a>
          }@else {
            <a (click)="this.authService.logout()" class="bg-white hover:bg-gray-200 transition-all text-black font-medium px-8 py-2 rounded-full"> 
              Logout
            </a>
          }

        </div>
        
      </div>
    </div>
  </nav>
</header>