<section class="sm:h-screen sm:py-0 py-30 bg-[url(/images/bg-features.jpg)] bg-cover bg-bottom bg-fixed relative 
        after:absolute after:opacity-30 after:z-0 after:bg-black after:w-full after:h-full after:top-0 after:left-0">
    <div class="text-amber-50 flex items-center h-full xl:p-50 md:p-20 p-10">
        <div class="z-10 lg:w-4/12">
            <h1 class="text-5xl mb-5">Simulador de Satélite Educativo</h1>
            <p class="text-1xl font-normal mb-5">Descubre cómo un grupo de estudiantes de la UPC ha diseñado un simulador de satélite basado en Arduino.</p>
            <a href="/features/#features" class="
                text-white font-semibold px-8 py-2 bg-[#ffffff33] rounded-[55px] border border-[#ffffff]
                hover:bg-[#ffffffdd] hover:text-black hover:cursor-pointer hover:shadow-[#ffffff] hover:shadow-xs transition
            ">
                Ver proyecto
        </a>
        </div>
    </div>
</section>

<!-- SECCION DE FEATURES-->
<section id="features" class="bg-black">
  <div class="grid lg:gap-60 gap-30 mx-auto xl:px-50 lg:px-30 md:px-20 px-10  py-16 lg:py-24">

    <!-- FEATURE 1 -->
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-10 lg:gap-20 items-center">

      <!-- IMAGEN -->
      <div class="w-full h-[220px] sm:h-[300px] lg:h-[400px] xl:h-[700px] overflow-hidden">
        <div class="w-full h-full bg-[url('/images/satelit-bg-1.jpg')] bg-cover bg-center hover:scale-105 transition-transform duration-500"></div>
      </div>

      <!-- TEXTO -->
      <div class="text-white">
        <h2 class="font-manrope text-2xl sm:text-3xl lg:text-4xl xl:text-5xl leading-tight mb-4">
          Monitorización Ambiental en Tiempo Real
        </h2>

        <p class="font-poppins text-base sm:text-lg text-gray-300 leading-relaxed max-w-xl">
          El satélite incorpora sensores que permiten medir temperatura, humedad y presión atmosférica de forma continua.
          Los datos se transmiten a la estación de tierra, donde se procesan y se representan mediante gráficas claras
          que facilitan el análisis y la comprensión de las condiciones ambientales registradas durante la misión.
        </p>
      </div>

    </div>

    <!-- FEATURE 2 -->
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-10 lg:gap-20 items-center">

      <!-- IMAGEN -->
      <div class="lg:order-2 w-full h-[220px] sm:h-[300px] lg:h-[400px] xl:h-[700px] overflow-hidden">
        <div class="w-full h-full bg-[url('/images/feature-1.jpg')] bg-cover bg-center hover:scale-105 transition-transform duration-500"></div>
      </div>

      <!-- TEXTO -->
      <div class="lg:order-1 text-white">
        <h2 class="font-manrope text-2xl sm:text-3xl lg:text-4xl xl:text-5xl leading-tight mb-4">
          Monitorización Ambiental en Tiempo Real
        </h2>

        <p class="font-poppins text-base sm:text-lg text-gray-300 leading-relaxed max-w-xl">
          El satélite incorpora sensores que permiten medir temperatura, humedad y presión atmosférica de forma continua.
          Los datos se transmiten a la estación de tierra, donde se procesan y se representan mediante gráficas claras
          que facilitan el análisis y la comprensión de las condiciones ambientales registradas durante la misión.
        </p>
      </div>

    </div>

    <!-- FEATURE 1 -->
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-10 lg:gap-20 items-center">

      <!-- IMAGEN -->
      <div class="w-full h-[220px] sm:h-[300px] lg:h-[400px] xl:h-[700px] overflow-hidden">
        <div class="w-full h-full bg-[url('/images/satelit-bg-1.jpg')] bg-cover bg-center hover:scale-105 transition-transform duration-500"></div>
      </div>

      <!-- TEXTO -->
      <div class="text-white">
        <h2 class="font-manrope text-2xl sm:text-3xl lg:text-4xl xl:text-5xl leading-tight mb-4">
          Monitorización Ambiental en Tiempo Real
        </h2>

        <p class="font-poppins text-base sm:text-lg text-gray-300 leading-relaxed max-w-xl">
          El satélite incorpora sensores que permiten medir temperatura, humedad y presión atmosférica de forma continua.
          Los datos se transmiten a la estación de tierra, donde se procesan y se representan mediante gráficas claras
          que facilitan el análisis y la comprensión de las condiciones ambientales registradas durante la misión.
        </p>
      </div>

    </div>

  </div>
</section>

<!-- SECCION -->
<section class="bg-[#01000F]">
    <div class="grid grid-cols-2 lg:gap-60 gap-30 mx-auto xl:px-50 lg:px-30 md:px-20 px-10  py-16 lg:py-24 text-white">
        <!-- EXTRA FEATURES -->
         <div class="flex flex-col gap-20">
            <div>
              <p class="text-5xl mb-2 font-manrope">Other Features</p>
              <p class="text-poppins text-base">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat cum eveniet porro optio necessitatibus molestiae, ratione sed magnam facilis dignissimos vero id aspernatur doloribus delectus, odit architecto voluptatibus commodi aliquam.</p>
            </div>

            <div>
              <p class="text-4xl mb-2 font-manrope">Comunicación Bidireccional con la Estación de Tierra</p>
              <p class="text-poppins text-base">La estación de tierra permite enviar comandos al satélite para modificar su comportamiento en tiempo real a través de una comunicación inalámbrica basada en antenas LoRa. El sistema interpreta estas órdenes de forma segura y eficiente, garantizando un control flexible, fiable y de largo alcance durante toda la operación.</p>
            </div>

            <div>
              <p class="text-4xl mb-2 font-manrope">Gestión Inteligente de Errores y Alarmas</p>
              <p class="text-poppins text-base">el sistema cuenta con un registro de eventos en la estación de tierra, desde el
cual es posible filtrar los eventos por tipo y por fecha, facilitando el análisis y seguimiento
del sistema.</p>
            </div>
            
            <div>
              <p class="text-4xl mb-2 font-manrope">Verificación de la Integridad de los Datos</p>
              <p class="text-poppins text-base">Para asegurar la fiabilidad de la comunicación, cada transmisión incluye un mecanismo de verificación que confirma que los datos han sido recibidos correctamente. Este proceso refuerza la robustez del sistema y garantiza la integridad de la información intercambiada.</p>
            </div>
         </div>

         <!-- IMG -->
         <div class="flex">
            <div class="flex flex-col h-150 w-full sticky top-20">
              <div class="flex flex-row h-full gap-5 justify-between">
                <div class="w-full h-full rounded-xl overflow-hidden">
                  <div class="w-full h-full bg-[url('/images/satelit-bg-1.jpg')] bg-cover bg-center hover:scale-105 transition-transform duration-500"></div>
                </div>
                <div class="w-full h-full rounded-xl overflow-hidden">
                  <div class="w-full h-full bg-[url('/images/satelit-bg-1.jpg')] bg-cover bg-center hover:scale-105 transition-transform duration-500"></div>
                </div>
              </div>
              
              <div class="w-full h-full rounded-xl overflow-hidden">
                <div class="w-full h-full  bg-[url('/images/satelit-bg-1.jpg')] bg-cover bg-center hover:scale-105 transition-transform duration-500"></div>
              </div>
            </div>
         </div>
    </div>
</section>