<section class="h-screen bg-[url(/images/bg-features.jpg)] bg-cover relative bg-bottom bg-fixed
        after:absolute after:opacity-30 after:z-0 after:bg-black after:w-full after:h-full after:top-0 after:left-0">
    <div class="text-amber-50 flex items-center h-full ms-[221px]">
        <div class="z-10 w-4/12">
            <h1 class="text-5xl mb-5">Proyecto</h1>
            <p class="text-1xl font-normal mb-5">Descubre cómo un grupo de estudiantes de la UPC ha diseñado un simulador de satélite basado en Arduino.</p>
            <a href="/features/#features" class="
                text-white font-semibold px-8 py-2 bg-[#ffffff33] rounded-[55px] border border-[#ffffff]
                hover:bg-[#ffffffdd] hover:text-black hover:cursor-pointer hover:shadow-[#ffffff] hover:shadow-xs transition
            ">
                Ver proyecto
        </a>
        </div>
    </div>
</section>

<!-- SECCION DE FEATURES-->
<section id="features">
    <div class="bg-black grid grid-cols-1 grid-rows-1 gap-[240px] px-40 py-20">
        <!-- CONTENEDORES PAR (IMAGEN-TEXTO)-->
        <div class="w-full h-[600px] flex grid-cols-2 gap-30 justify-between">
            
            <!-- IMAGEN -->
            <div class="w-6/12 bg-[url(/images/satelit-bg-1.jpg)] bg-cover bg-center"></div>

            <!-- TEXTO -->
            <div class="w-6/12 text-white my-auto">
                <p class="text-[42px] mb-3 font-manrope leading-14 ">Monitorización Ambiental en Tiempo Real</p>
                <p class="text-[18px] font-poppins font-light text-base leading-6.75">El satélite incorpora sensores que permiten medir temperatura, humedad y presión atmosférica de forma continua. Los datos recogidos se transmiten a la estación de tierra, donde se procesan y representan mediante gráficas claras que facilitan el análisis y la comprensión de las condiciones ambientales registradas durante la misión.</p>
            </div>
        </div>
        
    </div>
    
</section>